@charset "utf-8";

body {
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
h1, nav {
    text-align: center;
}
.um{
    color: dimgray;
}    
.dois{
    color: darkgoldenrod;
}
.tres{
    color: darkred;
}

section {
    text-align: left;
}
ul, ol {
    list-style-position: inside;
}
picture {
    zoom:normal;
    zoom:reset;
}
h3{
    text-align: left;
}
address {
    text-align: left;
    font-size: 0.6em;
}
footer {
    font-size: 0.5em;
}
nav {
    justify-content: space-between;
}

